{
  "presets": ["env", "react", "stage-3"],
  "plugins": [
    "transform-class-properties",
    "transform-runtime",
    [
      "styled-components",
      { "displayName": true, "fileName": false, "pure": true }
    ],
    "react-hot-loader/babel"
  ]
}
