{
  "presets": ["env", "react", "stage-3"],
  "plugins": [
    "transform-class-properties",
    "transform-runtime",
    ["styled-components", { "displayName": true }],
    "react-hot-loader/babel"
  ]
}
