{
  "presets": ["env", "react", "stage-3"],
  "plugins": [
    "transform-class-properties",
    "transform-runtime",
    "transform-react-jsx-source",
    ["styled-components", { "displayName": true }]
  ]
}
